# LaTeX
*.aux
*.log
*.synctex.gz
*.pdf
*.dvi
*.fls
*.fdb_latexmk
*.toc

# vim
*.*swp

# archives
*.zip

# JetBrains
*.iml
*.idea

# languages
*.pyc

# databases
*.db

# migrations
migrations/

# python coverage
.coverage
htmlcov/

backup/
app/res
app/.keys
venv/
