@import "variables";

body {
  margin: 0;
  background-color: $background-color;
  color: $color;
  font-size: $font-size-default;
}

label {
  font-size: $font-size-label;
}

input {
  font-size: $font-size-label * 0.8;
}

#content {
  margin-top: $font-size-default * 3;
  margin-bottom: $font-size-default * 3;
  height: calc(100% - #{$font-size-default * 6});
}

h1 {
  font-size: $font-size-default * 3;
}

a {
  cursor: hand;
}
