@import "variables";


.navbar {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  right: 0;
  left: 0;

  padding-left: $nav-padding;
  padding-right: $nav-padding;

  background-color: $nav-background-color;

  a {
    color: $nav-link-color;
    text-decoration: none;

    &:hover,
    &:hover:visited {
      color: lighten($nav-link-color, 30%);
    }

    &:visited {
      color: darken($nav-link-color, 20%);
    }
  }

  &.top {
    position: fixed;
    top: 0;
  }

  &.bottom {
    margin-top: - $font-size-default * 3;
    //position: fixed;
    //bottom: 0;
  }

  ul {
    display: flex;
    padding: 0;

    li {
      list-style: none;

      &:not(:last-child) {
        padding-right: $nav-item-padding;
      }
    }

  }
}
