@import "variables";


.navbar {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  right: 0;
  left: 0;

  padding-left: $nav-padding / 2;
  padding-right: $nav-padding / 2;

  background-color: $nav-background-color;

  a {
    color: $nav-link-color;
    text-decoration: none;

    &:hover,
    &:hover:visited {
      color: lighten($nav-link-color, 30%);
    }

    &:visited {
      color: darken($nav-link-color, 20%);
    }

  }

  &.top {
    position: fixed;
    top: 0;
    z-index: 1000;
  }

  &.bottom {
    margin-top: - $font-size-default * 3;
    margin-right: - $col-padding;
    margin-left: -$col-padding;
  }

  ul {
    display: flex;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;

    &.right {
      margin-left: auto;
    }

    li {
      padding-top: 1em;
      padding-bottom: 1em;
      list-style: none;

      & {
        padding-right: $nav-item-padding / 2;
        padding-left: $nav-item-padding / 2;
      }

      &.active {
        background-color: darken($nav-background-color, 10%);
      }
    }

  }
}
