<ion-header class="hidden">
  <ion-navbar>
    <ion-title>Pending Gathering</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="content">
    <div class="page-pending-gathering">
      <h1>Gathering</h1>

      <!-- Options when waiting -->
      <ion-grid *ngIf="gatheringService.status=='pending'">
        <ion-row>
          <ion-col width-33>
            <button ion-button block color="light" (click)="cancel()">Cancel</button>
          </ion-col>
          <ion-col width-67>
            <button ion-button block (click)="continueAnyway()">Continue</button>
          </ion-col>
        </ion-row>
      </ion-grid>

      <!-- Options when request -->
      <ion-grid *ngIf="gatheringService.status=='request'">
        <ion-row>
          <ion-col width-50>
            <button ion-button block color="danger" (click)="decline()">Decline</button>
          </ion-col>
          <ion-col width-50>
            <button ion-button block (click)="accept()">Accept</button>
          </ion-col>
        </ion-row>
      </ion-grid>

      <!-- Gathering infos -->
      <ion-list>
        <ion-list-header>
          Gathering informations
        </ion-list-header>

        <!-- Show a mini-map -->
        <ion-item>
          <div id="mapid" class="minimap">
            <p class="information" *ngIf="map==null">loading map...</p>
          </div>
        </ion-item>

        <!-- informations -->
        <ion-item>
          Mode
          <ion-badge item-right color="light">{{gatheringService.meetings.type}}</ion-badge>
        </ion-item>
        <ion-item *ngIf="gatheringService.distance!=null">
          Distance
          <ion-badge item-right color="light">{{gatheringService.distance}}m</ion-badge>
        </ion-item>
      </ion-list>

      <!-- Participants infos --> 
      <ion-list>
        <ion-list-header>
          Participants
        </ion-list-header>
        <ion-item *ngFor="let participant of gatheringService.meetings.participants">
          <strong *ngIf="participant.accepted">{{participant.user.username}}</strong>
          <span *ngIf="!participant.accepted">{{participant.user.username}}</span>
          <ion-badge item-right *ngIf="participant.user.id==gatheringService.meetings.organiser.id">admin</ion-badge>
          <ion-spinner item-right *ngIf="participant.accepted==null"></ion-spinner>
          <ion-badge item-right color="secondary" *ngIf="participant.accepted==true">accepted</ion-badge>
          <ion-badge item-right color="danger" *ngIf="participant.accepted==false">declined/unreachable</ion-badge>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>
