<ion-header class="hidden">
  <ion-navbar>
    <ion-title>contact-list</ion-title>
  </ion-navbar>
</ion-header>

<!--
friend request received -> initiator=false, is_accepted=false
  => name with open alert with accept/decline button

friends -> is_accepted=true, is_blocked=false
  => name with checkbox
  => long touch to block

  hidden -> + is_hidden=true
    => name with hidden written 

friend request sent -> initiator=true, is_accepted=false
  => name with open alert with just an informative message

blocked -> is_blocked=true
  => name with open alert to unblock
-->

<ion-content padding>

  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>

  <ion-list>

    <ion-list-header *ngIf="friendRequestReceived().length>0">
      Friend request received
    </ion-list-header>
    <button *ngFor="let item of friendRequestReceived()" ion-item detail-push (click)="popupRequestReceived(item)">
      <h2>{{item.friend.username}}</h2>
      <small>sent you a friend request</small>
    </button>
    
    <ion-list-header *ngIf="friends().length>0">
      Friends
    </ion-list-header>
    <ion-item *ngFor="let item of friends()" (press)="actionsSheetFriends(item)">
      <ion-label>{{item.friend.username}}</ion-label>
      <ion-checkbox *ngIf="!item.is_hidden" item-right checked="false" [(ngModel)]="item.checked"></ion-checkbox>
      <ion-badge *ngIf="item.is_hidden" item-right>hidden</ion-badge>
    </ion-item>
    
    <ion-list-header *ngIf="friendRequestSent().length>0">
      Friend request sent
    </ion-list-header>
    <ion-item *ngFor="let item of friendRequestSent()">
      <h2>{{item.friend.username}}</h2>
      <small>you've sent a friend request</small>
    </ion-item>
    
    <ion-list-header *ngIf="blockedFriends().length>0">
      Blocked friends
    </ion-list-header>
    <button *ngFor="let item of blockedFriends()" ion-item detail-push (click)="popupBlockedFriends(item)">
      <h2>{{item.friend.username}}</h2>
      <small>blocked</small>
    </button>

  </ion-list>

  <ion-fab right bottom class >
    <button ion-fab color="light" *ngIf ="isSomeChecked()" (click)="goToWaitingForParticipant()"><img src="assets/img/rady-icon.svg" height="50%"></button>
    <button ion-fab color="light" (click)="goToAddContact()"><ion-icon name="person-add"></ion-icon></button>
  </ion-fab>

</ion-content>
