div.forgotten-password-page {
	margin-top: 10vh;
	padding-bottom: 5vh;

	form {
		margin-top: 5vh;

		button {
			margin-top: 5vh;
			text-transform: uppercase;
		}
	}

	img {
		margin: 15vh auto auto auto;
		width: 40vw;
		display: block;
	}
}