<ion-header class="hidden">
  <ion-navbar>
    <ion-title>history</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <p *ngIf="list==null">no meeting made yet</p>
  <ion-list *ngIf="list!=null">
    <ion-card *ngFor="let meetings of list">
      <ion-card-content>
        <button ion-item (click)="startGathering(meetings)" >
          <ion-label>
            <strong *ngFor="let participant of meetings.participants"> 
              {{participant.user.username}} 
            </strong> 
            <br>
            <br>
            <p><strong>Mode:</strong> {{meetings.type}}</p>
            <p *ngIf="meetings.type=='place'"><strong>At:</strong> {{meetings.place.latitude}}, {{meetings.place.longitude}}</p>
          </ion-label>
        </button>
      </ion-card-content>
    </ion-card>
  </ion-list>

  <ion-fab right bottom>
    <button ion-fab color="light" (click)="fetch()">
      <ion-icon name="refresh"></ion-icon>
    </button>
  </ion-fab>

</ion-content>
