div.sign-in-page {
	margin-top: 10vh;

	form {
		margin-top: 5vh;
		margin-bottom: 5vh;

		button {
			margin-top: 5vh;
			text-transform: uppercase;
		}
	}

	img {
		margin: 7vh auto auto auto;
		width: 40vw;
		display: block;
	}
}