div.register-page {
	margin-top: 5vh;
	padding-bottom: 5vh;

	form {
		margin-top: 5vh;

		button {
			margin-top: 5vh;
			text-transform: uppercase;
		}

		p {
			text-align: right;
			margin: 0 0 0 0;
		}
	}

	img {
		margin: 5vh auto auto auto;
		width: 40vw;
		display: block;
	}
}